##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
 	default_value_test               , run_times=1 , run_opts= ; 
	read_write_test                  , run_times=1 , run_opts= ;
	reserved_region_test             , run_times=1 , run_opts= ;
	read_w1c_test                    , run_times=1 , run_opts= ;

	sample_13x_2400_test             , run_times=1 , run_opts= ;
	sample_13x_4800_test             , run_times=1 , run_opts= ;
	sample_13x_9600_test             , run_times=1 , run_opts= ;
	sample_13x_19200_test            , run_times=1 , run_opts= ;
	sample_13x_38400_test            , run_times=1 , run_opts= ;
	sample_13x_76800_test            , run_times=1 , run_opts= ;
	sample_13x_115200_test           , run_times=1 , run_opts= ;
	sample_13x_custom_test           , run_times=1 , run_opts= ; 

	sample_16x_2400_test             , run_times=1 , run_opts= ;
	sample_16x_4800_test             , run_times=1 , run_opts= ;
	sample_16x_9600_test             , run_times=1 , run_opts= ;
	sample_16x_19200_test            , run_times=1 , run_opts= ;
	sample_16x_38400_test            , run_times=1 , run_opts= ;
	sample_16x_76800_test            , run_times=1 , run_opts= ;
	sample_16x_115200_test           , run_times=1 , run_opts= ;
	sample_16x_custom_test           , run_times=1 , run_opts= ;

	// receive only
	receive_5_none_1_test            , run_times=1 , run_opts= ;
	receive_5_none_2_test            , run_times=1 , run_opts= ;
	receive_5_odd_1_test             , run_times=1 , run_opts= ;
	receive_5_odd_2_test             , run_times=1 , run_opts= ;
	receive_5_even_1_test            , run_times=1 , run_opts= ;
	receive_5_even_2_test            , run_times=1 , run_opts= ;
	receive_6_none_1_test            , run_times=1 , run_opts= ;
	receive_6_none_2_test            , run_times=1 , run_opts= ;
	receive_6_odd_1_test             , run_times=1 , run_opts= ;
	receive_6_odd_2_test             , run_times=1 , run_opts= ;
	receive_6_even_1_test            , run_times=1 , run_opts= ;
	receive_6_even_2_test            , run_times=1 , run_opts= ;
	receive_7_none_1_test            , run_times=1 , run_opts= ;
	receive_7_none_2_test            , run_times=1 , run_opts= ;
	receive_7_odd_1_test             , run_times=1 , run_opts= ; 
	receive_7_odd_2_test             , run_times=1 , run_opts= ;
	receive_7_even_1_test            , run_times=1 , run_opts= ;
	receive_7_even_2_test            , run_times=1 , run_opts= ;
	receive_8_none_1_test            , run_times=1 , run_opts= ;
	receive_8_none_2_test            , run_times=1 , run_opts= ;
	receive_8_odd_1_test             , run_times=1 , run_opts= ;
	receive_8_odd_2_test             , run_times=1 , run_opts= ;
	receive_8_even_1_test            , run_times=1 , run_opts= ;
	receive_8_even_2_test            , run_times=1 , run_opts= ;
	receive_dynamic_frame_test       , run_times=1 , run_opts= ;
	receive_dynamic_baudrate_test    , run_times=1 , run_opts= ;

	// transmit only
	transmit_5_none_1_test           , run_times=1 , run_opts= ;
	transmit_5_none_2_test           , run_times=1 , run_opts= ;
	transmit_5_odd_1_test            , run_times=1 , run_opts= ;
	transmit_5_odd_2_test            , run_times=1 , run_opts= ;
	transmit_5_even_1_test           , run_times=1 , run_opts= ;
	transmit_5_even_2_test           , run_times=1 , run_opts= ;
	transmit_6_none_1_test           , run_times=1 , run_opts= ;
	transmit_6_none_2_test           , run_times=1 , run_opts= ;
	transmit_6_odd_1_test            , run_times=1 , run_opts= ;
	transmit_6_odd_2_test            , run_times=1 , run_opts= ;
	transmit_6_even_1_test           , run_times=1 , run_opts= ;
	transmit_6_even_2_test           , run_times=1 , run_opts= ;
	transmit_7_none_1_test           , run_times=1 , run_opts= ;
	transmit_7_none_2_test           , run_times=1 , run_opts= ;
	transmit_7_odd_1_test            , run_times=1 , run_opts= ; 
	transmit_7_odd_2_test            , run_times=1 , run_opts= ;
	transmit_7_even_1_test           , run_times=1 , run_opts= ;
	transmit_7_even_2_test           , run_times=1 , run_opts= ;
	transmit_8_none_1_test           , run_times=1 , run_opts= ;
	transmit_8_none_2_test           , run_times=1 , run_opts= ;
	transmit_8_odd_1_test            , run_times=1 , run_opts= ;
	transmit_8_odd_2_test            , run_times=1 , run_opts= ;
	transmit_8_even_1_test           , run_times=1 , run_opts= ;
	transmit_8_even_2_test           , run_times=1 , run_opts= ;
	transmit_dynamic_frame_test      , run_times=1 , run_opts= ;
	transmit_dynamic_baudrate_test   , run_times=1 , run_opts= ;

	// full duplex
	full_5_none_1_test               , run_times=1 , run_opts= ;
	full_5_none_2_test               , run_times=1 , run_opts= ;
	full_5_odd_1_test                , run_times=1 , run_opts= ;
	full_5_odd_2_test                , run_times=1 , run_opts= ;
	full_5_even_1_test               , run_times=1 , run_opts= ;
	full_5_even_2_test               , run_times=1 , run_opts= ;
	full_6_none_1_test               , run_times=1 , run_opts= ;
	full_6_none_2_test               , run_times=1 , run_opts= ;
	full_6_odd_1_test                , run_times=1 , run_opts= ;
	full_6_odd_2_test                , run_times=1 , run_opts= ;
	full_6_even_1_test               , run_times=1 , run_opts= ;
	full_6_even_2_test               , run_times=1 , run_opts= ;
	full_7_none_1_test               , run_times=1 , run_opts= ;
	full_7_none_2_test               , run_times=1 , run_opts= ;
	full_7_odd_1_test                , run_times=1 , run_opts= ; 
	full_7_odd_2_test                , run_times=1 , run_opts= ;
	full_7_even_1_test               , run_times=1 , run_opts= ;
	full_7_even_2_test               , run_times=1 , run_opts= ;
	full_8_none_1_test               , run_times=1 , run_opts= ;
	full_8_none_2_test               , run_times=1 , run_opts= ;
	full_8_odd_1_test                , run_times=1 , run_opts= ;
	full_8_odd_2_test                , run_times=1 , run_opts= ;
	full_8_even_1_test               , run_times=1 , run_opts= ;
	full_8_even_2_test               , run_times=1 , run_opts= ;
	full_dynamic_frame_test          , run_times=1 , run_opts= ;
	full_dynamic_baudrate_test       , run_times=1 , run_opts= ;

	// interrupt
	parity_interrupt_test            , run_times=1 , run_opts= ;
	dis_parity_interrupt_test        , run_times=1 , run_opts= ;
	rx_fifo_empty_interrupt_test     , run_times=1 , run_opts= ;
	dis_rx_fifo_empty_interrupt_test , run_times=1 , run_opts= ;
	rx_fifo_full_interrupt_test      , run_times=1 , run_opts= ;
	dis_rx_fifo_full_interrupt_test  , run_times=1 , run_opts= ;
	tx_fifo_empty_interrupt_test     , run_times=1 , run_opts= ;
	dis_tx_fifo_empty_interrupt_test , run_times=1 , run_opts= ;
	tx_fifo_full_interrupt_test      , run_times=1 , run_opts= ;
	dis_tx_fifo_full_interrupt_test  , run_times=1 , run_opts= ;

	// inject error
	parity_missmatch_test            , run_times=1 , run_opts= ;
	stopbit_missmatch_test           , run_times=1 , run_opts= ;
	data_width_missmatch_test        , run_times=1 , run_opts= ;
	baudrate_missmatch_test          , run_times=1 , run_opts= ;

	// error handle
	write_when_tx_fifo_full_test     , run_times=1 , run_opts= ;
}
